* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffaf8;
    color: #51474a;
}

.welcome-page {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 30px;

    background: #fffaf8;
}

/* الخلفية الوردية المموجة */

.welcome-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    left: 0;
    top: 0;

    background: #f8dce5;

    border-bottom-right-radius: 50% 30%;
    border-bottom-left-radius: 20% 15%;
}

/* محتوى الصفحة */

.welcome-page h1,
.welcome-page h2,
.welcome-page p,
.welcome-page button {
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0 0 20px;

    font-size: 58px;
    font-weight: 700;

    color: #c77f96;
    letter-spacing: 1px;
}

h2 {
    margin: 0;

    font-size: 38px;
    line-height: 1.3;

    color: #51474a;
}

p {
    max-width: 560px;
    margin: 25px auto 0;

    font-size: 18px;
    line-height: 1.7;

    color: #756b6e;
}

button {
    margin-top: 30px;

    padding: 16px 38px;

    border: none;
    border-radius: 35px;

    background: #d895aa;
    color: white;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(201, 127, 150, 0.2);

    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
}
